.DS_Store
.env
/vendor
/node_modules
/backend/vendor
/backend/node_modules
/frontend/node_modules
/frontend/dist
/backend/bootstrap/cache/*.php
/backend/public/storage
/backend/storage/*.key
/backend/storage/app/meetings
/backend/storage/app/private/meetings
/backend/storage/framework/cache/data
/backend/storage/framework/sessions
/backend/storage/framework/views
/backend/storage/framework/views/*.php
/backend/storage/logs/*.log
